In [38]:
import numpy as np  
import matplotlib.pyplot as plt 
import pandas as pd
data= pd.read_csv('parkingLot.csv')
data.head()

  vehicle_no            timestamp  camera_id
0   MHUN7063  2024-09-12 05:00:00          1
1   MHYN4677  2024-09-12 05:00:00          1
2   MHEL6595  2024-09-12 05:00:00          1
3   MHNQ2590  2024-09-12 05:00:00          1
4   MHHA0518  2024-09-12 05:00:00          1

In [39]:
def modify_vehicle_no(vehicle_no):
    # Check if vehicle_no is NaN or empty
    if pd.isna(vehicle_no) or vehicle_no == '':
        return vehicle_no  # Leave empty or NaN as is

    # Check if the first letter is 'M' or the second letter is 'H'
    if (len(vehicle_no) > 1 and (vehicle_no[0] == 'M' or vehicle_no[1] == 'H')):
        return 'MH' + vehicle_no[2:]  # Modify only the first two letters and keep the rest unchanged

    return vehicle_no  # Leave as is otherwise

# Apply the function to the 'vehicle_no' column
data['vehicle_no'] = data['vehicle_no'].apply(modify_vehicle_no)

# Display the updated DataFrame
print(data)

       vehicle_no            timestamp  camera_id
0        MHUN7063  2024-09-12 05:00:00          1
1        MHYN4677  2024-09-12 05:00:00          1
2        MHEL6595  2024-09-12 05:00:00          1
3        MHNQ2590  2024-09-12 05:00:00          1
4        MHHA0518  2024-09-12 05:00:00          1
...           ...                  ...        ...
106689   MHCN7114  2024-11-14 00:00:00          2
106690   MHVY8418  2024-11-14 00:00:00          2
106691   MHSR8102  2024-11-14 00:00:00          2
106692   MHQG5264  2024-11-14 00:00:00          2
106693   MHLX0117  2024-11-14 00:00:00          2

[106694 rows x 3 columns]